div {
    width: 200px;
    height: 200px;
    position: relative;
    transition: 0.5s;
}

#green {
    background-color: green;
    z-index: 1;
    left: 0;
    bottom: 0;
}

#red {
    background-color: red;
    z-index: 2;
    left: 100px;
    bottom: 100px;
}
#black {
    background-color: black;
    z-index: 3;
    left: 200px;
    bottom: 200px;
}
