.green {
    background-color: green;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
}

.red {
    background-color: red;
    width: 200px;
    height: 200px;
    position: relative;
    left: 30px;
    bottom: 30px;
    z-index: 2;
}

.pink {
    background-color: pink;
    width: 200px;
    height: 200px;
    position: relative;
    left: 60px;
    bottom: 60px;
    z-index: 3;
}

.orange {
    background-color: orange;
    width: 200px;
    height: 200px;
    position: relative;
    left: 90px;
    bottom: 90px;
    z-index: 4;
}