#green {
    background-color: green;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
}

#orange {
    background-color: orange;
    width: 200px;
    height: 200px;
    position: relative;
    left: 30px;
    bottom: 200px;
    z-index: 2;
}

#p1 {
    color: purple;
}

#p2 {
    color: white;
}